{
  "data-root": "{{ docker_data_root }}",
  {% if docker_userns_remap | length > 0 %}
  "userns-remap": "{{ docker_userns_remap }}",
  {% endif %}
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {{ docker_log_opts | tojson }},
  "ipv6": {{ docker_ipv6 | tojson }},
  "live-restore": {{ docker_live_restore | tojson }},
  "exec-opts": ["native.cgroupdriver={{ docker_cgroup_driver }}"],
  "default-address-pools": {{ docker_default_address_pools | tojson }}
}
